@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MarlinExtraBold";
  src: url("./assets/fonts/MarlinExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "MarlinMedium";
  src: url("./assets/fonts/MarlinMedium.woff2") format("woff2");
}

@font-face {
  font-family: "MarlinRegular";
  src: url("./assets/fonts/MarlinRegular.woff2") format("woff2");
}

:root {
  font-family: "MarlinMedium", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 300;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  width: 100dvw;
}

@layer base {
  :root {
    --color-bg-primary: #f3f5fa;
    --color-bg-secondary: #fff;
    --color-bg-content: #f3f5fa;
    --color-bg-content-active: #1c1e21;
    --color-bg-content-hover: #e3e7f0;
    --color-bg-content-border: #494d55;
    --color-bg-content-dot: #aaa;
    --color-bg-container: #f3f5fa;
    --color-bg-divider: #c2c9d6;
    --color-bg-modal: #f9f9fb;
    --color-bg-button: #1c1e21;
    --color-content-shadow: 3px 10px 40px rgba(24, 29, 32, 0.05);
    --color-icon-border: #c2c9d6;
    --color-icon-shadow: #f3f4f6;
    --color-text-primary: #020202;
    --color-text-secondary: #5e636e;
    --color-text-tertiary: #e3e3e3;
    --color-text-button: #e3e3e3;
    --color-ripple: white;

    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
  }

  :root[data-theme="dark"] {
    --color-bg-primary: #050505;
    --color-bg-secondary: #131417;
    --color-bg-content: #24292d;
    --color-bg-content-active: #24292d;
    --color-bg-content-hover: #2c3236;
    --color-bg-content-border: #050505;
    --color-bg-content-dot: #2a2c30;
    --color-bg-container: #1c1e21;
    --color-bg-divider: #2c3236;
    --color-bg-modal: #24292d;
    --color-bg-button: #d3d3d3;
    --color-icon-border: #1d1e21;
    --color-icon-shadow: #4a4e51;
    --color-text-primary: #e3e3e3;
    --color-text-secondary: #b1b1b1;
    --color-text-tertiary: #e3e3e3;
    --color-text-button: #150001;
    --color-ripple: #662e2e;

    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
  }
}


@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}